body {
  text-align: center;
  background-color: #F8FAFA;
}

h3{
  text-align: center;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}


#Questionone{
  margin-top: 300px;
  margin-bottom:auto;
  width: auto;
  height: auto;
  background-color: lightblue;
  text-align: center;
  padding-bottom: 3px;
}

.questionstyle{
  width: 200px;
  background-color: lightgrey;
  margin: auto;
}


#first,#third,#final{
  margin-top: 0px;
  margin-bottom: 300px;
  width: auto;
  height: auto;
  background-color: lightblue;
  padding: 5px;
}

.small {
  background-color: lightblue;
  padding: 5px;
  width: 500px;
  margin: auto;
}

#answerone,#answerthree{
  padding: 5px;
  text-align: center;
  background-color: lightblue;
}


#container {
  max-width: 800px;
  height: 400px;
  margin: 0 auto
}

#Questiontwo{
  margin-top: 300px;
  margin-bottom:auto;
  width: auto;
  height: auto;
  background-color: lightblue;
  text-align: center;
  padding-bottom: 3px;
}

.container{
  display: inline-block;
  width: 100%;
  background-color: lightblue;
  margin: auto;
}

#column{
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: lightblue;
}

#dione{
  background-color: red;
}
#ditwo{
  background-color: lightpink;
}
#dithree {
  background-color: lightgreen;
}
#difour{
  background-color: yellow;
}
#difive {
  background-color: blue;
}
#disix{
  background-color: purple;
}

#answertwo{
  padding: 5px;
  text-align: center;
  background-color: lightblue;
  margin-bottom: 200px;
}

#Questionthree,#final{
  margin-top: 300px;
  margin-bottom:auto;
  width: auto;
  height: auto;
  background-color: lightblue;
  text-align: center;
  padding-bottom: 3px;
}

@media screen and (min-width: 400px) {
  article {
    margin: auto;
  }
}
