body {
  text-align: center;
}

h3{
  text-align: center;
}



#flip, #info {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#info {
    padding: 50px;
    display: none;
}
